@import "tailwindcss";
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth;
}
.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out both;
}

body {
  font-family: 'Merriweather', serif;
}

/* Opcional: títulos un poco más destacados */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700; /* títulos más pesados */
}

