---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import "../styles/goblal.css"
---




<!DOCTYPE html>
<html lang="es">
   <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Agrícola Ganadera Celina SA</title>
<meta name="description" content="Agrícola Ganadera Celina SA  Producción y comercialización agropecuaria" />
</head>
<body class="bg-[#234332] text-slate-800 ">
<Header />
<Hero />
<Contact />
<Footer />
</body>
</html>