<header
  id="main-header"
  class="fixed top-0 left-0 w-full overflow-x-hidden z-50 transition-all duration-300"
  style="backdrop-filter: blur(12px); background: rgba(255,255,255,0.25);"
>
  <div
    class="max-w-5xl mx-auto px-6 py-5 flex items-center justify-between text-white"
  >
    <a href="#inicio" class="text-xl font-bold tracking-tight">La Celina</a>

    <nav class="flex gap-6 text-sm font-medium">
      <a href="#inicio" class="hover:text-green-700">Inicio</a>
      <a href="#contacto" class="hover:text-green-700">Contacto</a>
    </nav>
  </div>
</header>
